/*
reset
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
margin: 0;
padding: 0;
border: 0;
outline: 0;
font-weight: inherit;
font-style: inherit;
font-size: 100%;
font-family: inherit;
vertical-align: baseline;
}

body { line-height: 1; color: black; background: white; }
ol, ul { list-style: none; }
table { border-collapse: separate; border-spacing: 0; }
caption, th, td { text-align: left; font-weight: normal; }
blockquote:before, blockquote:after, q:before, q:after { content: ""; }
blockquote, q { quotes: "" ""; }

/*
general
*/
body { background: url('../images/bg.png') repeat-x; font: normal 12px "Segoe UI"; color: #393939; }
div#container { width: 950px; margin: 75px auto; }
div#content { width: 100%; margin: 30px auto; background: #f3f3f3; padding-bottom: 30px; }
div#headerOneCol { width: 295px; margin: 0px auto; }
div.clear { clear: both; }

/*
login form
*/
div#login { -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; width: 350px; height: 220px; margin: 50px auto; background: #f3f3f3; }
div#login div#title { background: url('../images/window_bar_bg.png') repeat-x; width: 340px; height: 33px; padding: 5px; -moz-border-radius: 5px 5px 0px 0px; -webkit-border-radius: 5px 5px 0px 0px; border-radius: 5px 5px 0px 0px; font: 13px "Segoe UI"; color: #fff; }
form#login-form { width: 90%%; margin: 0px auto; padding: 15px 0px; }
form#login-form label { width: 90px; }
form#login-form .controls { margin-left: 100px; }
form#login-form button { float: right; margin-right: 30px; }
form#login-form .error { margin-bottom: 5px; }
div#login div.row { clear: both; text-align: left; font-weight: bold; padding-bottom: 15px; }
div#login div.row input { float: right; }
div#login div.buttons, div#login div.error { clear: both; }
div#login div.error { font-weight: bold; color: #e10c0c;  }

/*
menu
*/
div#menu { padding: 1px 0px; }
div#menu ul { list-style: none; width: 948px; height: 50px; margin: 0px 1px; background: url('../images/menu_bar_bg.png') repeat-x; }
div#menu ul li { float: left; margin: 15px 25px 0px 25px; }
div#menu ul li a { font-size: 14px; color: #fff; text-decoration: none; letter-spacing: 0.15em; }
div#menu ul li a:hover {  }

/*
listview items
*/
div.window { width: 80%; margin: 30px auto; background: #efefef; }
div.window div.title { background: url('../images/window_bar_bg.png') repeat-x; height: 33px; padding-left: 8px; -moz-border-radius: 5px 5px 0px 0px; -webkit-border-radius: 5px 5px 0px 0px; border-radius: 5px 5px 0px 0px; font: 13px/2.5em "Segoe UI"; color: #fff; }
div.window table { border-left: 1px; border-bottom: 1px; border-right: 1px; border-color: #fff; border-style: solid; font: normal 12px "Segoe UI"; }
div.window table th, div.window table td { padding: 5px; border-top: 1px solid #fff; border-bottom: 1px solid #ddd; }
div.window table thead th { background: none; font-weight: bold; }
div.window .list-view .summary { display: none; }